
body{
	background-image: url('https://img.freepik.com/free-photo/flat-lay-colorful-translucent-shapes_23-2148830217.jpg?w=996&t=st=1681039598~exp=1681040198~hmac=7e1dc5fbe9cee00f0b05523d34d58f1c3230f73d623a9f9ece9079f76a65b6d9');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}